@page
@model AspNetCore31.Pages.AllVarsModel
@{
    ViewData["Title"] = "All Vars";
    ViewData["Host"] = HttpContext.Request.Host.Host;
}

@{
    List<string> envvars = ViewData["EnvVars"] as List<string>;

    if (envvars != null && envvars.Count > 0)
    {
        // We have some errors to display
        <div>
            <ul>
                @foreach (var envvar in envvars)
                {
                    <li>
                        @envvar
                    </li>
                }
            </ul>
        </div>
    }
}    